.card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.slider-prod-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.producSL__slides-wrapper_big {
    height: 600px !important;
}

.productSl_slide_big {
    margin-right: 0 !important;
}

.product-slider-img_big {
    object-fit: cover !important;
    object-position: center !important;
}

.product-right-description {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.product__wr-descr {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.producSL__slides-list {
    display: flex !important;
}

.productSl_slide {
    width: 33.333% !important;
    height: auto !important;

    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
}
